﻿#top {
	text-align: center;
	background-color: #FFFFFF;
}
#top img {
	width: 100px;
	height: 100px;
}
#top h1 {
	display: inline;
	font-size: 300%;
	vertical-align: middle;
}
#searchBar {
	width: 450px;
}
#errorBoxId {
	display: none;
}
#loginInfo {
	margin-right:40px;
	color: #505050;
	display: block;
	text-align: center;
	margin-top: 12px;
}
#categoryDropdown {
	margin-top: 8px;
}
#cartTable { }
#cartTable tr {
	height: 50px;
}
#cartTable tr th,td {
	padding-right: 30px;
}
.button {
float:right;
   border: 2px solid #0a3c59;
   background: #f0ff17;
   background: -webkit-gradient(linear, left top, left bottom, from(#57ff7e), to(#f0ff17));
   background: -webkit-linear-gradient(top, #57ff7e, #f0ff17);
   background: -moz-linear-gradient(top, #57ff7e, #f0ff17);
   background: -ms-linear-gradient(top, #57ff7e, #f0ff17);
   background: -o-linear-gradient(top, #57ff7e, #f0ff17);
   background-image: -ms-linear-gradient(top, #57ff7e 0%, #f0ff17 100%);
   padding: 7.5px 15px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #000000;
   font-size: 15px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #e9ff69;
   background: -webkit-gradient(linear, left top, left bottom, from(#0dff00), to(#e9ff69));
   background: -webkit-linear-gradient(top, #0dff00, #e9ff69);
   background: -moz-linear-gradient(top, #0dff00, #e9ff69);
   background: -ms-linear-gradient(top, #0dff00, #e9ff69);
   background: -o-linear-gradient(top, #0dff00, #e9ff69);
   background-image: -ms-linear-gradient(top, #0dff00 0%, #e9ff69 100%);
   color: #000000;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #c4f500;
   background: -webkit-gradient(linear, left top, left bottom, from(#20f000), to(#e9ff69));
   background: -webkit-linear-gradient(top, #20f000, #c4f500);
   background: -moz-linear-gradient(top, #20f000, #c4f500);
   background: -ms-linear-gradient(top, #20f000, #c4f500);
   background: -o-linear-gradient(top, #20f000, #c4f500);
   background-image: -ms-linear-gradient(top, #20f000 0%, #c4f500 100%);
   color: #fff;
   }

.feed{
	height:120px;
	width:900px;
	margin: 0 auto;
	margin-bottom:10px;
	margin-top:20px;
	border-bottom:2px solid grey;
}

.Filter{
margin-top:40px;
float:left;
background-color:#F8F8F8;
width:250px;
padding-left:7px;
margin-left:10px;
}
.Feld{
width:60px;
}

.container
{
width:120px;
display:inline-block;
}
.Marke
{
	font-size:20px;
	font-weight:bold;
	margin-left:10px;
	color:Black;
}
.detail{
	font-size:20px;
	margin-left:222px;
}
.detail2{
	font-size:20px;
	margin-left:352px;
}
.suchen {
   border: 1px solid #0a3c59;
   background: #4A8A82;
   background: -webkit-gradient(linear, left top, left bottom, from(#4A8A82), to(#4A8A82));
   background: -webkit-linear-gradient(top, #4A8A82, #4A8A82);
   background: -moz-linear-gradient(top, #4A8A82, #4A8A82);
   background: -ms-linear-gradient(top, #4A8A82, #4A8A82);
   background: -o-linear-gradient(top, #4A8A82, #4A8A82);
   background-image: -ms-linear-gradient(top, #4A8A82 0%, #4A8A82 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-top:10px;
   margin-left:60px;
   }
a:link {
	text-decoration:none;
	color:Black;


.itemToCartButton {
	float: right;
	margin-top: 10px;
	margin-right: 35%;
}
.imagePreview {
	width: 80px;
	height: 80px;
	margin-right: 50px;
	margin-left: 15px;
}
.imageDetail {
	margin-right: 30px;
}
.product {
	height: 130px;
}
.availableNone {
	color: red;
}
.availableFew {
	color: #A0A000;
}
.availableMany {
	color: #008000;
}
.itemDataDiv {
	width: 700px;
}
.cartButton {
	margin: 10px;
	margin-left: 75%;
}
.halfTextbox {
	width: 50%;
}